/* TODO add feed styles */
.feed {
  margin-left: 275px;
  transition: 250ms;
}

.column2 {
  margin: 0 20px;
  display: flex;
}

.leftColumn {
  width: 70%;
}

.rightColumn {
  width: 30%;
  max-height: 75vh;
  overflow-y: auto;
}
