/* TODO add feed styles */
.feed {
  margin-left: 275px;
  transition: 250ms;
}

.column2 {
  margin: 0 20px;
  display: flex;
}

.left70Column {
  width: 70%;
}

.right30Column {
  width: 30%;
  max-height: 75vh;
  overflow-y: auto;
}

.Line {
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-width: 0;
  border-top-width: var(--component-border-width-small);
}

.cardImg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  max-width: 270px;
  margin-top: 10px;
}

.Border {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-height: 160px;
}

.cardCaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.CardHeader {
  height: 30px;
  background-color: #717388;
}