@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #96747a;
  font-family: display, serif;
  <a href="https://fontmeme.com/fonts/game-of-thrones-font/"><img src="https://fontmeme.com/previewtext.png" alt="game-of-thrones-font" border="0"></a>;
  float:left;
  display: relative;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #96747a;
  padding: 30px 30px 30px;
  float: left;
}

.wrapper .sidebar h2{
  color: black;
  text-transform: uppercase;
  text-align: center;
  padding: 2px;
  float: center;
}

.wrapper .sidebar ul li{
  padding: 20px;
  border-top: 5px solid rgba(255,255,255,0.05);
  float: center;
}    

.wrapper .sidebar ul li a{
  color: White;
  display: block;
  float: left; padding: 0.1px;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 100px;
}

.wrapper .main_content .header{
  padding: 50px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  font-weight: bold;
  text-align: center;
}

#wrapper {
  width: 10000px; /* MUST HAVE WIDTH SET, should be the sidebar width + main width */
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 90%;
  margin: 50px auto;
}
.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.card {
  width: 20%;
  background: white;
  border: 1px solid #ccc;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: #6c2224;
  color: #fff;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #fff;
  text-align: center;
  background: #6c2224;
  margin-top: 30px;
  text-decoration: none;
  padding: 10px 5px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 100%;
  }

  .heading {
    padding: 20px;
    font-size: 20px;
  }

  .card {
    width: 80%;
  }
}