/* TODO add some general header styles */

header {
  height: 120px;
  display: flex;
  background-color: black;
  padding: 0 20px;
  /* width: 100vw; */

  justify-content: space-between;
}

#headertext {
  font: Tahoma;
  right: 40%;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.inlineBlock {
  position: relative;
  /* display: inline-block;
  top: 30px; */
}

.inlineTitle {
  /* position: absolute; */
  display: inline-block;
  padding-top: 36px;
}

.searchinput {
  width: 263px;
  height: 24px;
  background: #ffffff;
  border-radius: 10px;
  width: 263px;
}

#searchbutton {
  position: relative;
  height: 18px;
  left: 230px;
  top: -5px;
  color: grey;
}

.formContainer {
  position: relative;
}

#titleImg {
  height: 120px;
}
