/* TODO general sidebar styles */

/*.radio {
  display:none;
}*/

.sideBarButtons {
  position: absolute;
  top: 130px;
  font-size: 24px;
  text-align: right;
  right: 0;
}

.sideBarBtnItem {
  margin: 5px 0;
}

.sidebarBtn {
  color: white;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: none;
  border-color: none;
  border-image: none;
  font-size: 35px;
  outline: none;
}

.sidebarActive {
  color: #1f6ada;
  text-shadow: 0px 4px 4px rgba(148, 22, 207, 0.5);
}

.custom-select {
  display: flex;
  justify-content: left;
  padding: 400px 0 0 60px;
  align-items: flex-end;
  color: white;
}

.custom-select h3 {
  padding-top: 20px;
  display: block;
  font-size: 1.1em;
  margin-block-start: 0;
  margin-block-end: 3px;
}

.custom-select .MuiSelect-icon {
  color: white;
}

.custom-select .MuiSelect-select {
  color: white;
}

.MuiInput-underline::after {
  color: white;
}

