.infoBoard {
  margin-right: 200px;
  height: 500px;
  padding: 50px;
  border-width: 5px;
  border-color: White;
}

.title{
  font-size: 35px;
}

#househeading{
  position:relative;
  top: -80px;
  padding: 50px;
  right: -220px;
}

#househeadingpara{
  font-size: 30px;
}
