.infoBoard {
  margin-right: 200px;
  height: 500px;
  padding: 50px;
  border-width: 5px;
  border-color: White;
}

.title {
  font-size: 35px;
}

.househeading {
  position: absolute;
  top: -25px;
  padding: 0;
  right: 47%;
}

#househeadingpara {
  font-size: 30px;
}
