.app {
  height: 100vh;
  background-color: #1c1c1c;
  color: white;
  position: relative;
  overflow-y: auto;
}

.content {
  margin-left: 275px;
  transition: 250ms;
}

.box-shadow-img {
  box-shadow: 0 13px 27px -5px hsl(240deg 30% 28% / 25%),
    0 8px 16px -8px hsl(0deg 0% 0% / 30%), 0 -6px 16px -6px hsl(0deg 0% 0% / 3%);
}

ul {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  padding: 50px;
}
