.title {
  font-size: 25px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.384);
  text-align: center;
}

#househeading {
  position: relative;
  top: -25px;
  padding: 0px;
  right: -150px;
}

#househeadingpara {
  font-size: 30px;
}
